<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<form th:action="@{/books/search}" th:method="POST">
    <label for="searching">Введите поисковый запрос</label>
    <input type="text" id="searching" name="firstLetters">
    <input type="submit" value="Искать!">
</form>
<div th:unless="${foundBooks == null}">
    <div th:unless="${foundBooks.isEmpty()}">
        <div th:each="book : ${foundBooks}">
            <p th:text="${book.getName()} + ',' + ${book.getAuthor()} + ',' + ${book.getYearOfProduction()}">Value</p>
            <div th:if="${book.getPerson() != null}">
                <p th:text="${book.getPerson().getName()}">text</p>
            </div>
            <div th:if="${book.getPerson() == null}"> Книга свободна</div>
        </div>
    </div>
    <div th:if="${foundBooks.isEmpty()}">
        Книг не найдено
    </div>
</div>
</body>
</html>