<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating Person</title>
</head>
<body>
<form th:action="@{/people}" th:object="${person}" th:method="post">
    <label for="name">Введите имя человека: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Some error</div>
    <br>
    <label for="year">Введите год рождения: </label>
    <input type="text" th:field="*{yearOfBirthday}" id="year">
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirthday')}" th:errors="*{yearOfBirthday}">Some error</div>
    <br>
    <input type="submit" value="Создать!">
</form>
</body>
</html>