<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Person</title>
</head>
<body>
<span th:text="${person.getName()} + ','"></span>
<span th:text="${person.getYearOfBirthday()}"></span>
<div th:if="${books.isEmpty()}">
    Человек пока не взял ни одной книги
</div>
<div th:unless="${books.isEmpty()}" th:each="book: ${books}">
    <p th:style="${book.overdue ? 'color: red;' : ''}" th:text="${book.name} + ', '+ ${book.author} + ', '+${book.yearOfProduction}"></p>
</div>
<br>
<hr>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id = ${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>